:$PORT
root * usr/share/caddy
file_server browse

log {
    output stdout
}

basicauth /$AUUID/* {
    $AUUID $MYUUID-HASH
}

@websocket_xray_vmess {
  path /$AUUID-vmess
}
reverse_proxy @websocket_xray_vmess 127.0.0.1:7001


@websocket_xray_vless {
  path /$AUUID-vless
}
reverse_proxy @websocket_xray_vless 127.0.0.1:7002

@websocket_xray_trojan {
  path /$AUUID-trojan
}
reverse_proxy @websocket_xray_trojan 127.0.0.1:7003

@websocket_xray_ss {
  path /$AUUID-ss
}
reverse_proxy @websocket_xray_ss 127.0.0.1:4234

@websocket_xray_socks {
  path /$AUUID-socks
}
reverse_proxy @websocket_xray_socks 127.0.0.1:5234
